/*  ---- By WM ---- */
/*---------------------------------- Common Css  ----------------------------------*/
*::before, *::after, .btn, .animate, a, .owl-theme .owl-dots .owl-dot span, .form-control{
  transition:all 0.4s ease-in-out 0s;
  -moz-transition:all 0.4s ease-in-out 0s;
  -ms-transition:all 0.4s ease-in-out 0s;
  -o-transition:all 0.4s ease-in-out 0s;
  -webkit-transition:all 0.4s ease-in-out 0s;       
}
body {
    color: #73879C;
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.bg-1 {
  background-color: #f3f3f3;
}
.bg-2 {
  background-color: #fff;
}
a, a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.relative {
  position: relative;
}
.back-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* checkbox  */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    /*left: -9999px;*/
    opacity: 0;
    z-index: 99;
    width: 100%;
}
[type="checkbox"] + label {
    font-weight: 500;
    font-size: 13px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid  #d9d9d9;
  content: "";
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 17px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
  color: #838fa1;
  content: "✔";
  left: 2px;
  line-height: 0.8;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease 0s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
.box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
}
.box-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.box-title h2 {
    margin: 5px 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
}
.flex-model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            flex-flow: row wrap;
}
.flex-stretch{
    justify-content: stretch;
    align-items: stretch;
}
/*------------------------- Custome Models---------------------- */
.left-panel {
    background: #2A3F54;
    width: 20%;
    height: 100%;
    position: fixed;
    height: 100%;
    left: 0;
    top:0;
}
.logo a {
    display: block;
    color: #EAEAEA;
    font-size: 16px;
    padding: 15px 10px;
    font-weight: 400;
}
.db-menu-list li a {
    display: block;
    padding: 10px;
    color: #E7E7E7;
}
.db-menu-list li a:hover{
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#334556), to(#2C4257)),#2A3F54;
    background: linear-gradient(#334556, #2C4257),#2A3F54;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
}
.panel-menu.panel-group {
    margin: 0;
}
.panel-menu .panel {
    border-radius: 0;
    margin: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}
.panel-menu .panel a {
    position: relative;
}
.panel-menu .panel >a:before {
    position: absolute;
    content: "\f0d8";
    width: 40px;
    height: 100%;
    /* background: red; */
    right: 0;
    top: 0;
    text-align: center;
    font-family: 'FontAwesome';
    line-height: 40px;
    color: #fff;
}
.panel-menu .panel >a.collapsed:before{
    content: "\f0d7";
}
.panel-menu .panel-body {
    padding: 0;
}
.panel-menu .panel-body li a {
    border-bottom: 0;
    padding: 5px 5px 5px 30px;
}
.panel-menu .panel-body li a:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #425668;
    left: 16px;
    top: 12px;
    border-radius: 50%;
}
.panel-menu .panel-body ul li a:after {
    position: absolute;
    content: "";
    height: 100%;
    left: 18px;
    top: 0;
    width: 1px;
    background: #425668;
}
.db-menu-list li a i {
    margin: 0 5px 0 0;
}
.db-menu-list li .panel-body a:hover {
    box-shadow: none;
    background: no-repeat;
}
.db-head-menu > ul > li > a span {
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
    margin-left: 5px;
}
.db-head-menu > ul > li.db-head-user > a span img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.right-panel {
    width: 100%;
    padding-left: 20%;
}
.db-head {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    max-height: 50px;
}
.user-det-menu {
    background-color: #ffffff;
    /* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.48); */
    height: auto;
    right: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    width: 200px;
    top: 100%;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
        z-index: 99;
}
li.db-head-user:hover .user-det-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.user-det-menu > ul > li.divider {
  border: 1px solid #e9ecf3;
  margin: 10px 0;
}
.user-det-menu > ul {
  padding: 10px;
}
.user-det-menu > ul > li a {
  display: block;
  padding: 0 5px;
  font-size: 12px;
}
.user-det-menu > ul > li a .fa {
  font-size: 15px;
  margin-right: 14px;
}
.user-det-menu > ul > li a span {
  float: right;
}
.user-det-menu > ul > li a span.noti-sec {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.user-det-menu > ul > li a:hover {
  padding-left: 20px;
}
li.db-head-user a {
    display: block;
    padding: 10px 15px;
}
.bur-menu a {
    font-size: 25px;
    display: block;
    padding: 5px 15px;
    color: #2a3f54;
}
.count-list {
    padding: 10px 0;
    background: #f7f7f7;
}

.count-list li p {
    font-size: 13px;
    font-weight: 500;
}

.count-list li h3 {
    font-weight: 700;
    font-size: 40px;
}

.count-list li {
    color: #73879c;
    margin: 30px 15px;
    /* width: 20%; */
    position: relative;
}
.count-list li:before {
    position: absolute;
    content: "";
    right: -15px;
    top: 0;
    background: #adb2b5;
    height: 100%;
    width: 2px;
}
.count-list li:last-child:before {
    opacity: 0;
}
.db-body {
    padding: 30px 15px;
}
.cust-form .form-control {
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    padding-left: 45px;
    border: 1px solid #E6E9ED;
}
.box form {
    margin: 30px 0 0;
}
.cust-form span {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #E6E9ED;
}

.cust-form.cust-select span {
    display: none;
}

.cust-form.cust-select .form-control {
    padding-left: 6px;
}
.cust-btn, .cust-btn:hover {
    box-shadow: none;
    font-weight: 500;
    color: #fff !important;
}
.btn-save{
  background: #169F85 !important;
}
.cust-btn{
  background: #007bff;
}
.action-btn {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #556473;
    border-radius: 50%;
    font-size: 12px;
    background: #ededed;
    box-shadow: none;
}
thead {
    background: rgba(52,73,94,0.94);
    color: #ECF0F1;
}
th {
    font-weight: 600;
    padding: 15px 10px !important;
}
.table {
    border: 1px solid #e3e3e3;
}
tbody tr:nth-child(even) {
    background: rgba(0,0,0,.05);
}
tbody tr:nth-child(even) .action-btn {
    background: #405467;
    color: #fff;
}
.btn.action-btn {
    padding: 0;
    font-weight: 600;
}
.login-page{
  height: 100vh;
}
.tent:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.18);
}
.login {
    background: rgba(255, 255, 255, 1);
    z-index: 99;
    padding: 60px 20px;
    border-radius: 0;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    height: 100%;
}
.login .main-pg-titl h4 {
    /*margin: 0 0 40px;*/
    margin: 30px 0 40px;
    font-size: 25px;
    font-weight: 800;
    color: #4a4a4a;
}
.remember li {
    float: left;
    width: 50%;
    margin:5px 0 10px;
    position: relative;
}
.login-inner {
    width: 100%;
}