/*  ---- By WM ---- */
/*---------------------------------- Common Css  ----------------------------------*/
*::before, *::after, .btn, .animate, a, .owl-theme .owl-dots .owl-dot span, .form-control{
  transition:all 0.4s ease-in-out 0s;
  -moz-transition:all 0.4s ease-in-out 0s;
  -ms-transition:all 0.4s ease-in-out 0s;
  -o-transition:all 0.4s ease-in-out 0s;
  -webkit-transition:all 0.4s ease-in-out 0s;       
}
body {
	color: #4a4a4a;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.bg-1 {
	background-color: #f3f3f3;
}
.bg-2 {
	background-color: #fff;
}
a, a:focus, a:hover {
	text-decoration: none !important;
	outline: none !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
.relative {
	position: relative;
}
.back-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.comm-head {
	color: #333146;
	font-size: 35px;
	margin: 0 0 45px;
	text-align: center;
	position: relative;
	padding: 0 0 23px;
}
.comm-head p {
	font-size: 15px;
	margin: 20px auto 30px;
	width: 600px;
}
.comm-head::before {
	background-color: #ff5733;
	content: "";
	height: 3px;
	left: 50%;
	margin-left: -85px;
	position: absolute;
	bottom: 0;
	width: 170px;
}
.comm-head::after {
	background-color: #ffc300;
	content: "";
	height: 15px;
	left: 50%;
	margin-left: -7.5px;
	position: absolute;
	bottom: -6px;
	transform: rotate(45deg);
	width: 15px;
}
.comm-inner-head {
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.09);
	color: #333146;
	font-weight: 500;
	margin: 0 0 12px;
	padding: 10px 6px;
}
.comm-inner-sub-head {
	color: #ff5733;
	font-size: 17px;
	font-weight: 400;
	margin: 5px 0;
	padding: 5px;
}
.upcom-event, .banner, .contact-us {
	background-attachment: fixed;
}
.mt-15px {
	margin-top: 15px;
}
/* checkbox  */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid  #d9d9d9;
  content: "";
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 17px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
  color: #838fa1;
  content: "✔";
  left: 2px;
  line-height: 0.8;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease 0s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/*------------------------- Custome forms---------------------- */
.btn-orage {
	background-color: #ff5733;
}
.btn-yellow {
	background-color: #ffc300;
}
.cust-model .cust-form {
	margin: 0 auto;
	width: 600px;
}
.cust-inp .form-control {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color: #cacacb;
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 1px;
	box-shadow: none;
	color: #ff5733;
	font-weight: 300;
	height: 55px;
	padding-top: 20px;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
.cust-inp label {
	color: #979797;
	font-size: 14px;
	font-weight: 300;
	left: 8px;
	position: absolute;
	top: 4px;
}
.cust-inp .form-control:hover, .cust-inp .form-control:focus {
	border-bottom: 1px solid #ff5733;
}
textarea.form-control {
	height: 150px !important;
}
.input-group .form-control {
	background: #f3f3f3 none repeat scroll 0 0;
	border: medium none;
	box-shadow: none;
}
/*------------------------- Custome Models---------------------- */
.cust-model .modal-dialog {
	width: 800px;
}
.cust-model .modal-header {
	border-bottom: none;
	color: #333146;
	text-align: center;
}
.cust-model .modal-content {
	background: #fdfdff none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
}
.cust-model .close {
	color: #ffc300;
	opacity: 1;
}
/*------------------------- Login Model ---------------------- */
.social-sin::before {
	background: #ebeff1 none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 0;
	margin: -1px 0 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: -1;
}
.social-sin {
	padding: 15px 0;
	z-index: 1;
}
.social-sin li {
	display: inline-block;
}
.social-sin li a {
	background-color: #c2c2c2;
	color: #ffffff;
	display: block;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 40px;
}
.social-sin li a:hover {
	border-radius: 50%;
}
.con-head {
	padding: 15px 0 0;
}
.sign-head > h4 {
	font-size: 28px;
	font-weight: 300;
}
.sign-head > p {
	color: #c5c9cd;
	font-family: arial;
	font-size: 16px;
	padding: 5px 0;
}
.sign-head a {
	color: #ffc300;
}
.forg-paswd a {
	color: #656565;
	display: block;
	font-size: 12px;
	padding: 5px 0;
}
/*------------------------- header---------------------- */	
.header-top {
	background: #900c3e none repeat scroll 0 0;
	color: #fff;
	padding: 0 70px;
}
.con-head {
	padding: 15px 0;
}
.sign-head {
	padding: 7px 0;
	text-align: center;
}
.con-head span, .sign-head span {
	display: inline-block;
	font-weight: 300;
	padding: 0 6px;
}
.con-head span i {
	margin-right: 5px;
}
.sign-head .btn {
	border-radius: 50px;
	font-weight: 300;
	width: 100px;
}
.btn.btn-login {
	background-color: transparent;
	border: 2px solid #ff5733;
	color: #ff5733;
}
.btn.btn-login:hover {
	background: #ff5733 none repeat scroll 0 0;
	border: 2px solid transparent;
	color: #fff;
}
.btn.btn-register {
	color: #000;
	border: 2px solid transparent;
}
.btn.btn-register:hover {
	background: transparent none repeat scroll 0 0;
	border: 2px solid #ffc300;
	color: #ffc300;
}
.head-bottm {
	left: 0;
	margin-top: 66px;
	padding: 10px 110px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.sticky-header .head-bottm {
	background: rgba(87, 24, 69, 0.86) none repeat scroll 0 0;
	margin-top: 0;
	padding: 10px 70px;
}
.menu li {
	float: left;
	margin: 12px 0;
	padding: 0 6px;
}
.menu li a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 300;
	padding: 8px 5px;
	position: relative;
}
.menu li a::before {
	border-color: #ffc300;
	border-style: solid;
	border-width: 1px;
	content: "";
	height: 100%;
	left: -25px;
	opacity: 0;
	position: absolute;
	top: -16px;
	visibility: hidden;
	width: 100%;
}
.menu li a:hover::before {
	left: 0;
	opacity: 1;
	top: 0;
	visibility: visible;
}
.logo a {
	color: #fff;
	font-size: 30px;
}

/*------------------------- banner ---------------------- */
.banner {
	height: 800px;
}
.banner::before, .contact-us:before {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.ban-cap {
	color: #ffffff;
	left: 7%;
	padding: 10px;
	position: absolute;
	top: 23%;
	width: 600px;
}
.ban-cap h2 {
	font-size: 50px;
	margin: 16px 0;
}
.ban-cap h2 span {
	color: #ffc300;
}
.ban-cap p {
	font-size: 24px;
	font-weight: 300;
	line-height: 35px;
}
.ban-reg {
	position: absolute;
	right: 7%;
	top: 20%;
	width: 350px;
}
.ban-reg h4 {
	background: #ffc300 none repeat scroll 0 0;
	overflow: hidden;
	padding: 20px 0;
	text-align: center;
}
.ban-reg h4 span {
	color: #ffffff;
	font-size: 74px;
	left: 20px;
	opacity: 0.36;
	position: absolute;
	top: 0;
}
.ban-reg form {
	background: #ffffff none repeat scroll 0 0;
	padding: 10px;
}
.btn.btn-eve-regi {
	border-radius: 0;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	height: 50px;
	margin: 7px 0;
	width: 100%;
}
/*----------------------------------------Middle Section-----------------------------------*/ 
/* ----------------recent event-----------------*/
section {
	padding: 60px 0 30px;
}
.event-block {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	background: #fff;
}
.event-img-blok img {
	height: 230px;
	width: 100%;
}
.event-data .media {
	padding: 10px;
}
.event-by-img, .revi-by-img, .inst-img-blk {
	border: 1px solid #ffc300;
	border-radius: 50%;
	height: 65px;
	padding: 5px;
	width: 65px;
}
.event-by-img img, .revi-by-img img, .inst-img-blk img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.event-by-img::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffc300;
	border-style: solid;
	border-width: 6px;
	content: "";
	position: absolute;
	right: -13px;
	top: 40%;
	transform: rotate(-4deg);
}
.event-data .media-body {
	padding: 15px 0 15px 8px;
}
.event-data .media-body h4 {
	font-weight: 300;
	margin-bottom: 6px;
}
.event-data .media-body p span {
	color: #ff5733;
	font-weight: 500;
	margin-left: 5px;
}
.more-event {
	background: rgba(255, 195, 0, 0.74) none repeat scroll 0 0;
	color: rgb(0, 0, 0);
	font-size: 30px;
	height: 100%;
	left: 0;
	line-height: 8;
	position: absolute;
	text-align: center;
	top: 0;
	transform: scale(0);
	transform-origin: left top 0;
	width: 100%;
}
.event-block:hover .more-event {
	transform: scale(1);
}
/* ----------------about Us -----------------*/
.about-img span {
	border: 1px solid #c2c2c2;
	border-radius: 50%;
	display: block;
	font-size: 40px;
	height: 100px;
	line-height: 90px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}
.abt-data span {
	border-bottom: 1px solid #c2c2c2;
	display: block;
	font-size: 20px;
	margin: 0 35px 20px;
	padding: 20px 0;
	text-align: center;
}
.abt-data a {
	border: 1px solid #ffc300;
	color: #ffc300;
	display: inline-block;
	font-size: 16px;
	margin: 20px 0;
	padding: 10px 20px;
}
.abt-data a:hover {
	border: 1px solid transparent;
	background: #ffc300;
	color: #000;
}
/* ---------------- upcoming Events -----------------*/
.upcom-event::before, .inner-banner:before {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.comm-head.upcom-head p {
	color: #ffffff;
}
.comm-head.upcom-head span {
	color: #ffc300;
	font-weight: 500;
}
/*.upcom-body .event-img-blok img {
  height: 300px;
}*/
.event-datetime {
	padding: 10px 0;
}
.event-datetime div {
	padding: 5px 0;
}
.event-datetime i, .ins-info li i {
	color: #ff5733;
	font-size: 15px;
	font-weight: 200;
	margin-right: 11px;
}
.event-datetime span {
	margin-left: 4px;
}
/* ---------------- our team -----------------*/
.our-team .item {
	margin: 0 10px;
}
.team-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
}
.team-name {
	background-color: #1c1d1e;
	color: #ffc300;
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
}
.team-name > span {
	color: #ff5733;
	display: block;
	font-size: 13px;
	margin-top: 8px;
}
.team-desc {
	background-color: #fff;
	padding: 30px 20px;
	text-align: center;
}
.team-social li {
	display: inline-block;
}
.team-social a {
	display: block;
	font-size: 18px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	transition: all 0.4s linear 0s;
	width: 66px;
}
.team-social a .fa {
	color: #444444;
	font-size: 21px;
	transition: all 0.4s linear 0s;
}
.team-social {
	text-align: center;
	background-color: #fff;
	padding: 0 0 20px;
}
.team-social a.s-f:hover, .social-menu.b-s-f:hover {
	background-color: #36609e;
}
.team-social a.s-t:hover, .social-menu.b-s-t:hover {
	background-color: #2ca9e1;
}
.team-social a.s-g:hover, .social-menu.b-s-g:hover {
	background-color: #db5442;
}
.team-social a.s-d:hover, .social-menu.b-s-d:hover {
	background-color: #ee558e;
}
.social-menu.b-s-s:hover {
	background-color: #00AFF0;
}
.social-menu.b-s-v:hover {
	background-color: #211D20;
}
.team-social a:hover .fa {
	color: #fff;
}
.our-team.owl-theme .owl-nav {
	margin-top: 0;
}
.our-team.owl-carousel .owl-nav .owl-prev, .our-team.owl-carousel .owl-nav .owl-next {
	background-color: #ffc300;
	border: 1px solid transparent;
	height: 30px;
	margin-top: -15px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: rotate(45deg);
	transition: all 0.4s linear 0s;
	width: 30px;
	color: #000;
}
.our-team.owl-carousel .owl-nav .owl-prev {
	left: -12px;
}
.our-team.owl-carousel .owl-nav .owl-next {
	right: -12px;
}
.our-team.owl-carousel .owl-nav .owl-prev .fa, .our-team.owl-carousel .owl-nav .owl-next .fa {
	font-size: 20px;
	transform: rotate(-45deg);
}
.our-team.owl-carousel .owl-nav .owl-prev:hover, .our-team.owl-carousel .owl-nav .owl-next:hover {
	background-color: transparent;
	border: 1px solid #ffc300;
	color: #ffc300;
}
/* ---------------- contact us -----------------*/
.contact-us {
	height: 550px;
}
.contact-us .ban-cap {
	right: 7%;
	left: auto;
}
.contact-us .ban-reg {
	left: 7%;
	right: auto;
	top: 10%;
}
/* ---------------- Footer -----------------*/
footer {
	background-color: #571845;
	color: #ffffff;
	padding: 40px 0;
}
.foot-logo a {
	display: block;
	font-size: 30px;
	color: #fff;
}
.foot-menu ul {
	margin: -10px 0;
}
.foot-menu li {
	padding: 10px 0;
}
.foot-add li span .fa {
	font-size: 16px;
	margin-right: 12px;
}
.foot-menu li a {
	color: #ffffff;
	display: block;
	font-size: 16px;
}
.foot-menu li a:hover {
	opacity: 0.5;
	padding-left: 10px;
}
.foot-blog .media-left span {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: inline-block;
}
.foot-blog .media-left span img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.fot-head {
	padding: 10px;
}
.foot-menu {
	margin-top: 15px;
}
/* ------------------------------ inner Pages -------------------------------*/
/*------------------------- recent events pg---------------------- */
.inner-banner {
	background-position: left top;
	height: 350px;
}
.ban-cap.in-banr-cap {
	left: 0;
	text-align: center;
	top: 35%;
	width: 100%;
}
.ser-fil-blk {
	margin: 20px 0;
	padding: 10px 5px 20px;
}
.comm-inner-body {
	margin: 15px 0 20px;
	padding: 5px;
}
.ser-fil-blk .input-group-addon {
	background-color: #571845;
	border: medium none;
	color: #ffffff;
}
.cour-list li {
	border-bottom: 1px dashed #571845;
	margin: 0 10px 10px;
	padding: 10px 0;
	position: relative;
}
.cour-list li:last-child, .reviw-blk .media:last-child, .ins-info li:last-child {
	border-bottom: medium none;
}
.cour-list a {
	color: #4a4a4a;
}
.cour-list li span {
	position: absolute;
	right: 0;
	transform: scale(0);
	transition: all 0.4s ease-in-out 0s;
	color: #571845;
}
.cour-list li.active span {
	transform: scale(1);
}
.cour-list a:hover, .cour-list li.active a {
	color: #571845;
}
.owl-theme.pop-events .owl-dots .owl-dot span {
	background: #cccccc none repeat scroll 0 0;
	border: medium none;
}
.owl-theme.pop-events .owl-dots .owl-dot.active span, .owl-theme.pop-events .owl-dots .owl-dot:hover span {
	background: #571845 none repeat scroll 0 0;
}
/*------------------------- recent events detail pg---------------------- */
.event-detail-blk .event-img-blok img {
	height: 280px;
}
.event-tittle {
	color: #333146;
	font-size: 20px;
	font-weight: 400;
	margin: 10px 0;
	padding: 10px 0;
}
.event-info p {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 10px;
	padding: 10px 0;
}
.rev-stars {
	position: absolute;
	right: 0;
	top: 0;
}
.reviw-blk .media, .ins-info li {
	border-bottom: 1px dashed #cccccc;
	margin: 10px 0;
	padding: 10px;
}
.rev-name {
	color: #ff5733;
	font-size: 18px;
	font-weight: 500;
}
.rev-date {
	color: #571845;
	font-size: 13px;
	font-style: italic;
	margin: 3px 0 10px;
	opacity: 0.47;
}
.rev-date i {
	margin-right: 8px;
}
.wrtie-rev {
	margin: 22px 0 0;
	padding: 10px 40px;
}
.inst-img-blk {
	height: 80px;
	width: 80px;
}
.inst-block .media-body {
	padding: 28px 0;
}
.rev-oths, .wrtie-rev {
	padding: 0 15px;
}
.inst-block .media-body p {
	font-size: 12px;
	font-style: italic;
	margin: 3px 0;
}
/*----------------------------------------------------------  Dashboard Section Section ----------------------------------------------------------*/
/***************************** header *****************************/
.db-header {
	background-color: #3b3f51;
	left: 0;
	/* padding: 20px 0; */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.db-head-left, .db-head-right {
	float: left;
	width: 50%;
}
.logo-bars, .db-menu-icon, .db-action, .db-srch-fld {
	float: left;
}
.logo-bars {
	width: 220px;
}
.logo-bars a {
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 16px 0;
}
.left-humberger {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 0;
  display:none;
}
.db-head-menu > ul > li {
	float: left;
}
.db-head-menu > ul > li > a {
	color: #737a99;
	display: block;
	font-size: 16px;
	padding: 15px 20px;
}
.db-head-menu > ul > li > a:hover {
	background-color: #3f4457;
}
.db-head-menu > ul > li > a .fa {
	font-size: 13px;
}
.user-det-menu {
    background-color: #ffffff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.48);
    height: 220px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    width: 200px;
    top: 150%;
    border-radius: 5px;
}
li.db-head-user:hover .user-det-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.user-det-menu > ul > li.divider {
	border: 1px solid #e9ecf3;
	margin: 10px 0;
}
.user-det-menu > ul {
	padding: 10px;
}
.user-det-menu > ul > li a {
	display: block;
	padding: 5px 10px;
}
.user-det-menu > ul > li a .fa {
	font-size: 15px;
	margin-right: 14px;
}
.user-det-menu > ul > li a span {
	float: right;
}
.user-det-menu > ul > li a span.noti-sec {
	height: 20px;
	line-height: 20px;
	width: 20px;
}
.user-det-menu > ul > li a:hover {
	padding-left: 20px;
}
.db-head-menu > ul > li > a span, .noti-sec {
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-size: 11px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
}
.db-head-notif > a > span, .db-noti {
	background-color: #36C6D3;
}
.db-head-inbox > a > span, .db-inbox {
	background-color: #ED6B75;
}
.db-head-taskbar > a > span {
	background-color: #337AB7;
}
.bg-blue, .long-event {
	background-color: #3598DC;
}
.bg-red, .pending-event {
	background-color: #E7505A;
}
.bg-green, .meeting-event {
	background-color: #32C5D2;
}
.bg-purple, .birthday-event {
	background-color: #8E44AD;
}
.bg-grey, .lunch-event {
	background-color: #BAC3D0;
}
.bg-yellow, .all-day {
	background-color: #F1C40F;
}
.db-head-menu > ul > li.db-head-user > a span {
	height: 30px;
	margin-left: 5px;
	width: 30px;
}
.db-head-menu > ul > li.db-head-user > a {
	color: #aeb2c4;
}
.db-head-menu > ul > li.db-head-user > a span img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.db-head-menu > ul > li.db-head-sout a {
	padding: 17px 0 0 5px;
}
.db-head-menu > ul > li.db-head-sout > a .fa {
	font-size: 22px;
}
/*User Detail*/
.open-user-det-menu .user-det-menu {
	height: 235px;
}
.db-head-noti-data {
	background-color: #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
	height: 300px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 270px;
}
.db-head-notif:hover .db-head-noti-data {
	opacity: 1;
	visibility: visible;
}
.noti-data-head {
	background-color: #e9ecf3;
	color: #3b3f51;
	padding: 10px 15px;
}
.noti-data-head::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e9ecf3;
	border-style: solid;
	border-width: 10px;
	content: "";
	left: 5%;
	position: absolute;
	top: -52%;
}
.noti-data-body.mn-cont-data {
	margin-top: 0;
	max-height: 250px;
	padding: 0;
}
.noti-data-body li {
	border-bottom: 1px solid #e9ecf3;
}
.noti-data-body li a {
	display: block;
	font-size: 13px;
	padding: 15px;
	position: relative;
}
.noti-data-body a .fa {
	color: #ffffff;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	margin-right: 4px;
	text-align: center;
	width: 20px;
}
.noti-data-body a span {
	background-color: #e9ecf3;
	border-radius: 4px;
	display: inline-block;
	font-size: 12px;
	font-style: italic;
	padding: 3px 7px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.noti-data-body li:last-child {
	border-bottom: 0 none;
}
/************************** Dash Middle **************************/
.db-middle-sec {
	padding: 60px 0 30px;
}
.db-main-menu {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	margin: 60px 0 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 20%;
	overflow:scroll;
}
.db-user-blk::before {
	background: rgba(0, 0, 0, 0.34) none repeat scroll 0 0;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}
.db-usr-img {
	height: 130px;
	margin: 0 auto;
	width: 130px;
}
.db-usr-img img {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.db-usr-info {
	color: #ffffff;
	padding: 5px 0 10px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.db-menu-list li a {
	display: block;
	padding: 10px;
	color: #3B3F51;
}
.db-menu-list li a:hover, .db-menu-list li.active a {
	background: #36c6d3 none repeat scroll 0 0;
	color: #ffffff;
	padding-left: 25px;
}
/************************** Dash rightside **************************/
.main-container {
	margin-left: 20%;
	padding: 10px 25px;
	width: 80%;
}
.main-pg-titl {
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	color: #36c6d3;
	font-size: 18px;
	margin: 10px 0;
	padding: 10px;
}
.main-pg-body {
	margin: 10px 0;
	padding: 20px 10px;
}
/************************** Courses blk **************************/
.db-cours-blk ul {
	border: medium none;
	text-align: center;
}
.db-cours-blk .nav-tabs > li {
	display: inline-block;
	float: none;
}
.db-cours-blk .nav-tabs > li > a {
	background-color: #ffffff;
	border: 1px solid #36c6d3;
	color: #36c6d3;
	border-radius: 50px;
}
.db-cours-blk .nav-tabs > li.active > a {
	cursor: default;
}
.db-cours-blk .nav-tabs > li.active > a, .db-cours-blk .nav-tabs > li > a:focus, .db-cours-blk .nav-tabs > li > a:hover {
	background-color: #36c6d3;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #ffffff;
}
.db-cours-blk .tab-content {
	margin: 35px auto;
	width: 80%;
}
.cour-data .media {
	border-bottom: 1px dashed #cccccc;
	margin: 0 0 15px;
	padding: 10px 10px 20px;
}
.cour-data .media:last-child {
	border-bottom: medium none;
}
.cour-data .media-left span {
	border-radius: 50%;
	display: block;
	height: 120px;
	width: 120px;
}
.cour-data .media-left span img {
	border: 1px solid #36c6d3;
	border-radius: 50%;
	height: 100%;
	padding: 5px;
	width: 100%;
}
.cour-type {
	color: #ff5733;
	font-size: 17px;
	font-weight: 600;
	padding: 5px 0;
}
.cour-info {
	margin: 5px 0;
	padding: 10px 0;
}
.cour-info li {
	background: #337AB7 none repeat scroll 0 0;
	border-radius: 50px;
	color: #ffffff;
	float: left;
	margin: 0 3px 0 0;
	padding: 5px 10px;
	text-align: left;
	width: 32.333%;
}
.cour-info li span {
	font-style: italic;
	margin-right: 13px;
}
.cour-data .media-body p {
	font-size: 13px;
	margin: 8px 0 0;
}
/************************** Teacher Dashboard **************************/
.mn-cont-data {
  background-color: #ffffff;
  margin-top: 15px;
  
  padding: 12px 20px 15px;
}
.mn-cont-data-title {
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 10px;
  padding: 10px 0;
}
.mn-cont-data-body {
  padding: 10px 0;
  max-height: 425px;
  overflow: auto;
}
.recent-act-data {
  width: 80%;
}
.mn-cont-data-body.recent-act-body li{
  display: block;
  margin: 15px 0;
  position: relative;
}
.recent-act-data > span, .recent-act-data > p {
  display: table-cell;
}
.recent-act-data > span {
  color: #ffffff;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.recent-act-data > p {
  color: #82949a;
  padding-left: 10px;
}
.recent-act-data-time {
  color: #82949a;
  font-style: italic;
  padding: 0 3px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 20%;
}
.r-act-new-order div > p > span, .r-act-up-hw div > p > span {
  color: #ffffff;
  padding: 2px 10px;
}
.db-btn {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  height: 33px;
  line-height: 33px;
  margin: 6px 25px 0;
  text-align: center;
}
.db-btn.task_btn.bg-grey {
  width: 65px;
}
.mn-cont-data-body.recent-act-body  li label {
  color: #838fa1;
  font-weight: 400;
}
.db-btn.recent-act_btn {
  border: 1px solid #337ab7;
  color: #337ab7;
  width: 85px;
}
/************************** Student Dashboard **************************/
.stud-staus .media-left span {
	color: #ffffff;
	display: block;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}
.border-red {
	border: 1px solid #e7505a;
}
.border-green {
	border: 1px solid #32C5D2;
}
.border-blue {
	border: 1px solid #3598DC;
}
.stud-staus {
	margin: 0 0 40px;
}
.cust-progress {
	margin: 10px 0 38px;
	padding: 10px 15px 0;
}
.cust-progress .progress {
	height: 5px;
	margin: 10px 0;
}
.cust-progress .pro-perce {
	background: #3598dc none repeat scroll 0 0;
	bottom: -38px;
	color: #ffffff;
	font-size: 10px;
	height: 25px;
	left: 55%;
	line-height: 25px;
	position: absolute;
	text-align: center;
	width: 50px;
}
.cust-progress .pro-perce::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #337ab7;
	border-style: solid;
	border-width: 6px;
	content: "";
	left: 50%;
	position: absolute;
	top: -12px;
	transform: translateX(-50%);
}
.sub-pross {
	color: #571845;
	font-size: 18px;
	font-weight: 400;
	padding: 0 0 15px;
}
/************************** Online Exam Apti **************************/
.db-head-time h4 {
  color: #aeb2c4;
  padding: 20px 0;
}
.db-head-time h4 span {
  margin: 0 0 0 10px;
}
.comm-form-blk {
  background: #ffffff none repeat scroll 0 0;
/*  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);   width: 700px;*/
  margin: 0 auto;
  padding: 10px;
  min-height:500px;

}
.innr-tittle {
  border-bottom: 1px solid #36c6d3;
  color: #3598dc;
  font-size: 19px;
  margin: 0 0 20px;
  padding: 20px 0;
  text-align: center;
}
.cust-form label {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  text-align: right;
}
.cust-form .asn-radio label {
  padding: 0;
  text-align: left;
}
.asn-radio .radio input[type="radio"] {
  margin: 3px 0 0 -15px;
}
.cust-form .Qust-label label {
  text-align: left;
}
.apti-exam-menu .nav.nav-tabs, .apti-qust-list ul {
  border: medium none;
  padding: 40px 0;
}
.apti-exam-menu .nav.nav-tabs li {
  float: none;
  margin: 0;
}
.apti-exam-menu .nav-tabs > li.active > a, .apti-exam-menu .nav-tabs > li > a:focus, .apti-exam-menu .nav-tabs > li > a:hover {
  border:1px solid transparent;
  background-color: #36c6d3;
    color:#fff;
}
.apti-exam-menu .nav-tabs > li > a{
  border:1px solid #36c6d3;	
  border-radius:0;
  margin:0 0 10px;
  color:#36c6d3;
}
/*.apti-qust-list, .apti-exam-menu {
  background: #f5f5f5 none repeat scroll 0 0;
}*/
.apti-qust-list li, .btn-info-legeng li{
  float: left;
  margin: 0 0 10px;
  width: 20%;
}
.apti-qust-list li span, .btn-info-legeng li span {
  background: #f5f5f5 none repeat scroll 0 0;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 40px;
}
.apti-qust-list li.answered span, .btn-info-legeng li.answered span{
  background: #00aa08 none repeat scroll 0 0;
  color: #fff;
}
.apti-qust-list li.not_answer span, .btn-info-legeng li.not_answer span{
  background: #f04112 none repeat scroll 0 0;
  color: #fff;
}
.apti-qust-list li.mark_answer span, .btn-info-legeng li.mark_answer  span{
  background: #00bbea none repeat scroll 0 0;
  color: #fff;
}
.btn-exm-blk {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-next, .btn-prev, .btn-mark {
  left: 0;
  position: absolute;
  top: 0;
}
.btn-next, .btn-mark {
  left: auto;
  right: 0;
}
.btn-mark {
  right: 25%;
}
.cust-btn, .cust-btn:hover {
  border-radius: 0;
  background:#337AB7;
  color:#fff;
}
.apti-qust-list ul{
  max-height: 400px;
}
.btn-info-legeng li{
  width:50%;	
  margin: 0;
    padding: 5px;
}
.btn-info-legeng li span{
  width:100%;
}
.btn-info-legeng ul {
  margin: 10px -5px 0;
}
