@media screen and (max-width:1024px){
.header-top, .head-bottm  {
  padding: 0 30px;
}	
.con-head span{
  font-size: 12px;
}
.sign-head .btn {
  font-size: 12px;
  padding: 5px 0;
  width: 80px;
}	
.logo a {
  font-size: 21px;
}
section {
  padding: 20px 0 10px;
}
.event-block {
  margin: 15px 0;
}
.comm-head {
  font-size: 22px;
  margin: 0 0 20px;
  padding: 0 0 16px;
}
.sticky-header .head-bottm {
  padding: 0 20px;
}
.ban-cap h2 {
  font-size: 36px;
}
.ban-cap p {
  font-size: 15px;
  line-height: 24px;
}

.contact-us .ban-cap {
  left: auto;
  right: 0;
}
.contact-us .ban-reg {
  left: 2%;
  right: auto;
}
.team-social a {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  width: 50px;
}
.db-head-menu > ul > li > a {
  padding: 15px;
}
.left-humberger {
  display:block;
}
.main-container {
  margin-left: 0;
  width: 100%;
}
.db-main-menu {
  left: -100%;
  width:30%;
  z-index:99;
}
.open-left-menu .db-main-menu {
  left:0;
}
.db-cours-blk .tab-content {
  width: 100%;
}
.cour-info li {
  font-size: 13px;
}
.cust-model .modal-dialog {
  margin: 0;
  padding: 15px;
  width: 100%;
}
.cust-model .cust-form {
  width: 100%;
}
}
@media screen and (min-width:768px) and (max-width:1024px){

.menu li {
  margin: 0;
}
.menu li a {
  font-size: 13px;
}
.ban-cap {
  left: 0;
  width: 50%;
}
.ban-reg {
  padding: 0 10px;
  right:14px;
  top: 25%;
  width: 45%;
}
.ban-reg h4 {
  font-size: 15px;
  padding: 12px 0;
}
.ban-reg h4 span {
  font-size: 55px;
}
.cust-inp label {
  top: 0;
}
.cust-inp .form-control {
  height: 43px;
}
.banner {
  height: 440px;
}



}
@media screen and (max-width:991px){
}
@media screen and (min-width:768px) and (max-width:991px){
}
@media screen and (max-width:767px){
.con-head{
  display: none;
}	
.sign-head {
  width: 100%;
}
/*------------------------- Responsive haeder ---------------------- */
.mobile-menu {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 0;
  width: 30px;
}
.menu-bar::before, .menu-bar::after {
  background-color: #ffffff;
  content: "";
  height: 2px;
  position: absolute;
  transform: rotate(0deg);
  width: 77%;
}
.menu-bar {
    background-color: #ffffff;	
  height: 2px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.menu-bar::before {
  top: 7px;
}
.menu-bar::after {
  top: -7px;
}
.open-main-menu .menu-bar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.open-main-menu .menu-bar::after {
  top: -3px;
  transform: rotate(-45deg);
}
.open-main-menu .menu-bar::before {
  top: 3px;
  transform: rotate(45deg);
}
.menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.43);
  color: #6f395f;
  height: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 65px;
  width: 100%;
}
.open-main-menu .menu {
  opacity: 1;
  pointer-events: auto;
  top: 50px;
}
.menu li {
  width: 50%;
  text-align:center;
}
.menu li a {
  color: #6f395f;
}
.sticky-header .head-bottm {
  padding: 10px;
}
.sticky-header .mobile-menu {
  top: 10px;
}
.ban-cap {
  color: #ffffff;
  left: 0;
  position: relative;
  top: 50px;
  width: 100%;
}
.contact-us .ban-cap {
  top: 0;
}
.contact-us .ban-reg {
  display: block;
  left: 0;
  top: 0;
}
.contact-us {
  height: auto;
}
.comm-head p {
  width: 100%;
}
.ban-reg {
  padding: 10px;
  position: relative;
  right: 0;
  top: 50px;
  width: 100%;
}
.db-head-left, .db-head-right {
  width: 100%;
}
.db-head-menu > ul > li > a {
  font-size: 15px;
  padding: 15px 8px;
}
.db-main-menu {
  margin: 160px 0 0;
  width: 100%;
}
.db-middle-sec {
  padding: 160px 0 30px;
}
.stud-staus .col-xs-12 {
  margin: 0 0 10px;
}
.main-container {
  padding: 10px 15px;
}
.db-cours-blk .nav-tabs > li > a {
  font-size: 12px;
  padding: 4px 7px;
}
.db-cours-blk .nav-tabs > li {
  margin: 0 0 8px;
  width: 49%;
}
.cour-data .media-left {
  display: block;
}
.cour-data .media-left span {
  margin: 0 auto;
}
.cour-data .media-body h3 {
  font-size: 16px;
}
.cour-type, .sign-head > p{
  font-size: 13px;
}
.cour-info li {
  margin: 0 0 5px;
  width: 100%;
}
.main-cap-l, .recent-act-data > p, .main-cap-l, .recent-act-data-time, .rev-stars, .rev-data > p {
  font-size: 12px;
}
.db-btn {
  margin: 0 15px;
}
.main-cap-l {
  padding: 10px 0;
}
.mn-cont-data {
  padding: 12px 0 15px;
}
.rev-name {
  font-size: 15px;
}
.logo-bars, .left-humberger {
  width: 50%;
}
.left-humberger {
  text-align:right;
}

}
@media screen and (min-width:480px) and (max-width:767px){
.db-head-left {
  width: 35%;
}
.logo-bars {
  width: 135px;
}
.db-head-right {
  width: 65%;
}
.db-main-menu {
  margin: 100px 0 0;
  width: 60%;
}
.db-middle-sec {
  padding: 100px 0 30px;
}
.cour-info li {
  width: 50%;
}	
}
@media screen and (max-width:479px){
}